In [2]:
import pandas as pd

In [3]:
import json

In [4]:
with open("drug_data/medication_list_branded.json", "r", encoding='utf-8') as file:
  fileStr = file.read()

medications = json.loads(fileStr)

df = pd.DataFrame(medications)

In [5]:
df.head(5)

    generic_name                                         brand_name  rxcui
0   Atorvastatin             [Lipitor, Lypqozet, Atorvaliq, Caduet]  83367
1  Levothyroxine  [Thyro-Tabs, ThyroKare, Euthyrox, Levo-T, Levo...  10582
2      Metformin  [Kazano, Jentadueto, Kombiglyze, Janumet, Gluc...   6809
3     Lisinopril           [Qbrelis, Zestril, Prinivil, Zestoretic]  29046
4     Amlodipine  [Tribenzor, Exforge HCT, Twynsta, Prestalia, C...  17767

In [6]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [7]:
df.rows()

AttributeError: 'DataFrame' object has no attribute 'rows'

In [8]:
df.count

<bound method DataFrame.count of                   generic_name  \
0                 Atorvastatin
1                Levothyroxine
2                    Metformin
3                   Lisinopril
4                   Amlodipine
..                         ...
192                Dorzolamide
193                   Ramipril
194                    Lithium
195                 Amiodarone
196  Omega-3-acid Ethyl Esters

                                            brand_name   rxcui
0               [Lipitor, Lypqozet, Atorvaliq, Caduet]   83367
1    [Thyro-Tabs, ThyroKare, Euthyrox, Levo-T, Levo...   10582
2    [Kazano, Jentadueto, Kombiglyze, Janumet, Gluc...    6809
3             [Qbrelis, Zestril, Prinivil, Zestoretic]   29046
4    [Tribenzor, Exforge HCT, Twynsta, Prestalia, C...   17767
..                                                 ...     ...
192                                  [Trusopt, Cosopt]   60207
193                                           [Altace]   35296
194                                               None    6448
195                   [Cordarone, Pacerone, Nexterone]     703
196  [Animi-3 with Vitamin D, Lovaza, Animi-3, Ocea...  484348

[197 rows x 3 columns]>

In [11]:
df2 = df.drop_duplicates(['rxcui'])

In [13]:
df2

,generic_name,brand_name,rxcui
0,Atorvastatin,"[Lipitor, Lypqozet, Atorvaliq, Caduet]",83367
1,Levothyroxine,"[Thyro-Tabs, ThyroKare, Euthyrox, Levo-T, Levo...",10582
2,Metformin,"[Kazano, Jentadueto, Kombiglyze, Janumet, Gluc...",6809
3,Lisinopril,"[Qbrelis, Zestril, Prinivil, Zestoretic]",29046
4,Amlodipine,"[Tribenzor, Exforge HCT, Twynsta, Prestalia, C...",17767
...,...,...,...
192,Dorzolamide,"[Trusopt, Cosopt]",60207
193,Ramipril,[Altace],35296
194,Lithium,None,6448
195,Amiodarone,"[Cordarone, Pacerone, Nexterone]",703
196,Omega-3-acid Ethyl Esters,"[Animi-3 with Vitamin D, Lovaza, Animi-3, Ocea...",484348

In [15]:
df

,generic_name,brand_name,rxcui
0,Atorvastatin,"[Lipitor, Lypqozet, Atorvaliq, Caduet]",83367
1,Levothyroxine,"[Thyro-Tabs, ThyroKare, Euthyrox, Levo-T, Levo...",10582
2,Metformin,"[Kazano, Jentadueto, Kombiglyze, Janumet, Gluc...",6809
3,Lisinopril,"[Qbrelis, Zestril, Prinivil, Zestoretic]",29046
4,Amlodipine,"[Tribenzor, Exforge HCT, Twynsta, Prestalia, C...",17767
...,...,...,...
192,Dorzolamide,"[Trusopt, Cosopt]",60207
193,Ramipril,[Altace],35296
194,Lithium,None,6448
195,Amiodarone,"[Cordarone, Pacerone, Nexterone]",703
196,Omega-3-acid Ethyl Esters,"[Animi-3 with Vitamin D, Lovaza, Animi-3, Ocea...",484348

In [16]:
output_file_path = 'drug_data/deduped_meds.json'
df2.to_json(output_file_path, orient='records', lines=True)